
<a href="/">Home</a>
<a href="/about/">About</a>
<a href="/blog/">Blog</a>

<h1>Blogs by Me</h1>
<h2>... and my little dog, too!</h2>


<p>This is where I will post about my journey learning Astro.</p>
